.about-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    background-image: url("/assets/profile.jpeg");
    width: 350px;
    height: 500px;
    background-size: cover;
    margin-right: 100px;
}

.about-contents {
    padding: 60px;
    width: 500px;
    color: grey;
}

.about-main {
    border-left: 8px solid #4834d4;
    padding-left: 30px;
}