.skills {
    flex-direction: column;
}

.skill-box {
    display: flex;
    justify-content: space-around;
    margin: 200px;
}

.skill-box:last-child {
    margin: 0 400px 200px;
}

.skill {
    width: 330px;
    height: 400px;
    background-color: #fff6d1;
    border: 2px solid #fff6d1;
    padding: 30px;
    transition: ease-in 150ms;
    margin: 20px;
}

.skill:hover {
    border: 2px solid #4834d4;
    background-color: #fff; 
}

.skill .title {
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 20px;
}

.skill p {
    margin: 0;
    font-weight: 100;
    color: grey;
    line-height: 1.7em;
    margin-bottom: 10px;
}

