/* exit button */
.exit-btn {
    position: relative;
    top: -50%;
    right: -2%;
}

.fas {
    font-size: 40px;
    color: #4834d4;
}

.fas:hover {
    cursor: pointer;
}

.disappear {
    display: none;
}

/* submit button */
.submit-button {
    width: 350px;
    height: 60px;
    padding: 15px;
    border-radius: 50px;
    color: #fff;
    background-color: #4834d4; 
    border: none;
    cursor: pointer;
}

.submit-button:hover,
.submit-button:active {
    background-color: rgb(60, 44, 167)
}