/* main title */
.main-letter {
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4834d4;
}

#main-title::after {
    content: "";
    position: absolute; /*main-title따라 움직이도록*/
    width: 1px;
    height: 80%;
    border-right: 8px solid #4834d4;
    animation : blink 0.5s infinite ease;  
}


/* section title */
.title {
    font-weight: 700;
    color: #4834d4;
    text-transform: capitalize;
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    #main-title {
        margin-bottom: 20px;
    }

    #main-title::after {
        border-right: 4px solid #4834d4;
    }
}

@keyframes blink { /* after에 애니메이션 effect */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}