footer {
    margin: 100px;
    color: #4834d4;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.personal-information div{
    padding-bottom: 10px;
}

.fab {
    display: inline-block;
    font-size: 35px;
    margin-right: 50px;
}

.copyright {
    color: grey;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    footer {
        margin: 0;
        padding: 0 10px;
        margin-bottom: 80px;
    }

    footer h1 {
        font-size: 30px;
    }

    .contacts {
        display: block;
        font-size: 13px;
        margin-bottom: 80px;
    }

    .personal-information {
        padding-bottom: 10px;
    }

    .links a {
        display: block;
        padding-bottom: 20px;
    }

    .copyright {
        font-size: 13px;
        padding: 10px;
    }   
}