footer {
    margin: 100px;
    color: #4834d4;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.personal-information div{
    padding-bottom: 10px;
}

.fab {
    display: inline-block;
    font-size: 35px;
    margin-right: 50px;
}

.copyright {
    color: grey;
    text-align: center;
}