.main-square {
    position: relative;
    top: -12%;
    left: 50%;
    width: 900px;
    height: 750px;
    background-color: #fff6d1;
    z-index: -100;
}

.main {
    height: 900px;
}
#main-title {
    position: relative;
}

.main-letter {
    position: relative;
    top: -40%;
    left: 20%;
    margin: 0;
    opacity: 0;
    transition: all 700ms ease-in-out;
}

.letter-up {
    top: -60%;
    opacity: 1;
}

.works .main-square {
    left: 0%;
    width: 800px;
    height: 600px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 10px;
    }

    .main {
        height: 57vh;
        margin-bottom: 5px;
    }

    .main-square {
        top: -30%;
        left: 53%;
        width: 50%;
        height: 120%;
        overflow: hidden;
    }

    .main-letter {
        top: -90%;
        left: 0;
        font-size: 20px;
        padding: 10px;
    }

    .works .main-square {
        top: 0;
        left: -3%;
        width: 50%;
        height: 60%;
    }
}