* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header .right-header {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

header .left-header a {
    padding: 0 30px;
    font-weight: 100;
}

.current-page {
    color: #4834d4;
}

.main-square {
    position: relative;
    top: -12%;
    left: 50%;
    width: 900px;
    height: 750px;
    background-color: #fff6d1;
    z-index: -100;
}

.main {
    height: 800px;
}

.main-letter {
    position: relative;
    top: -60%;
    left: 20%;
    margin: 0;
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4834d4;
}

.main-letter h1 {
    margin: 0;
}

.title {
    font-weight: 700;
    color: #4834d4;
    text-transform: capitalize;
    font-size: 30px;
}

.about-page {
    margin-bottom: 300px;
}

.about-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    background-image: url("../assets/profile.jpeg");
    width: 350px;
    height: 500px;
    background-size: cover;
    margin-right: 100px;
}

.about-contents {
    padding: 60px;
    width: 500px;
    color: grey;
}

.about-main {
    border-left: 8px solid #4834d4;
    padding-left: 30px;
}


footer {
    margin: 100px;
    color: #4834d4;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.personal-information div{
    padding-bottom: 10px;
}

.fab {
    display: inline-block;
    font-size: 35px;
    margin-right: 50px;
}