* {
    box-sizing: border-box;
}

input :focus,
input :active, 
textarea :focus,
textarea :active {
    box-shadow: none;
    outline: none;
    text-decoration: none;
}


body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header .right-header {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

header .left-header a {
    padding: 0 30px;
    font-weight: 100;
}

.current-page {
    color: #4834d4;
}

.main-square {
    position: relative;
    top: -12%;
    left: 50%;
    width: 900px;
    height: 750px;
    background-color: #fff6d1;
    z-index: -100;
}


.main {
    height: 670px;
}

.main-letter {
    position: relative;
    top: -60%;
    left: 20%;
    margin: 0;
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4834d4;
}

.main-letter h1 {
    margin: 0;
}

.title {
    font-weight: 700;
    color: #4834d4;
    text-transform: capitalize;
    font-size: 30px;
}

.contact-page {
    height: 800px;
}

.contact-page .main-square {
    position: relative;
    top: 0;
    left: -3.5%;
    width: 900px;
    height: 750px;
    background-color: #fff6d1;
    z-index: -100;
}

.contact-cover {
    position: relative;
    top: -600px;
}

.contact-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 80px;
}

.user_input {
    width: 700px;
    height: 60px;
    padding: 15px;
    border-radius: 4px;
    border: solid 1px #E0E2E7;
    margin-bottom: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.user_input:active, 
.user_input:focus {
    outline: none;
    border: solid 1px #3F4150;
}

textarea {
    width: 700px;
    height: 250px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: solid 1px #E0E2E7;
    font-family: 'Noto Sans KR', sans-serif;
}

textarea:active,
textarea:focus {
    outline: none;
    border: solid 1px #3F4150;
}

.submit-button {
    width: 350px;
    height: 60px;
    padding: 15px;
    border-radius: 50px;
    color: #fff;
    background-color: #4834d4; 
    border: none;
    cursor: pointer;
}

.submit-button:hover,
.submit-button:active {
    background-color: rgb(60, 44, 167)
}


.contact-info {
    margin-bottom: 200px;
    font-family: 'Noto Sans KR', sans-serif;
}

.contact-info h2 {
    font-size: 30px;
    font-weight: 300;
}

.contact-info dl {
    font-weight: 300;
    letter-spacing: 0.02em;
}

.contact-info dd {
    color: #8C8D96;
    margin: 0;
}




footer {
    margin: 100px;
    color: #4834d4;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.personal-information div{
    padding-bottom: 10px;
}

.fab {
    display: inline-block;
    font-size: 35px;
    margin-right: 50px;
}