* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header .right-header {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

header .left-header a {
    padding: 0 30px;
    font-weight: 100;
}

.current-page {
    color: #4834d4;
}

.main-square {
    position: relative;
    top: -12%;
    left: 50%;
    width: 900px;
    height: 750px;
    background-color: #fff6d1;
    z-index: -100;
}

.main {
    height: 900px;
}

.main-letter {
    position: relative;
    top: -40%;
    left: 20%;
    margin: 0;
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4834d4;
    opacity: 0;
    transition: all 700ms ease-in-out;
}

.letter-up {
    top: -60%;
    opacity: 1;
}

#main-title {
    margin: 0;
    position: relative;
}

#main-title::after {
    content: "";
    position: absolute; /*main-title따라 움직이도록*/
    width: 1px;
    height: 80%;
    border-right: 8px solid #4834d4;
    animation : blink 0.5s infinite ease;
    
}

@keyframes blink { /* after에 애니메이션 effect */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-letter .mini-detail {
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: solid #4834d4 2px;
    font-family: 'Archivo Black', sans-serif;
}

.mini-detail:hover {
    color: rgb(60, 44, 167);
    border-bottom: solid 2px rgb(60, 44, 167);
}

.main-letter .mini-detail:hover {
    border-bottom: solid 2px rgb(60, 44, 167);
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
}

.skill-form {
    background-color: #fff6d1;
    width: 350px;
    height: 200px;
    margin: 0 30px;
    padding: 40px;
    border: 2px solid #fff6d1;
    transition: ease-in 150ms;
}

.skill-form:hover {
    border: 2px solid #4834d4;
    background-color: #fff; 
}

.skill-form h3 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 18px;
    color: #4834d4;
    margin: 0 0 15px 0;
}

.skill-form p {
    color: grey;
    font-weight: 100;
    line-height: 1.2em;
    margin: 0 0 15px 0;
}

.mini-detail {
    color: #4834d4;
    font-size: 12px;
    border-bottom: solid 2px #4834d4;
    font-family: 'Archivo Black', sans-serif;
}

.works {
    height: 600px;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.works .main-square {
    left: 0%;
    width: 800px;
    height: 600px;
}

.works-contents {
    position: relative;
    top: -95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 230px;
}

.title {
    font-weight: 700;
    color: #4834d4;
    text-transform: capitalize;
    font-size: 30px;
    padding-bottom: 40px;
}

.works-details {
    display: flex;
    justify-content: center;
    font-weight: 100;
}

.work {
    margin: 0 15px;
}

.work:first-child {
    margin-left: 0;
}

.work-cover { /* cover씌워서 css로 이미지 scale 처리 */
    width: 370px;
    height: 230px;
    overflow: hidden;
    background-color: #000;
    margin-bottom: 10px;
}

.work-link {
    font-family: 'Archivo Black', sans-serif;
    color: grey;
}

.work-img {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    transition: all 400ms ease-out;
}

.work-img:hover {
    transform: scale(1.15);
    opacity: 0.7;
}

.interactive {
    background-image: url("https://cdn.jsdelivr.net/gh/hjkdw95/portfolio@main/assets/zoomin.png");
}

.brunch {
    background-image: url("https://cdn.jsdelivr.net/gh/hjkdw95/portfolio@main/assets/brunch.png");
}

.carrot {
    background-image: url("https://cdn.jsdelivr.net/gh/hjkdw95/portfolio@main/assets/carrot_game.png");
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 250px 500px;
}

.about-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    background-image: url("../assets/profile.jpeg");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
}

.profile-contents {
    width: 400px;
    height: 350px;
    background-color: #fff6d1;
    padding: 40px;
    color: grey;
    line-height: 1.8em;
}

.profile-detail-summary {
    margin-bottom: 150px;
}

.detail-link {
    width: 100%;
    height: 400px;
    background-color: #fff6d1;
    color: #4834d4;
    padding: 100px 400px;
    margin-bottom: 100px;
}

.detail-link h1 {
    font-size: 45px;
}

.detail-link .mini-detail {
    font-size: 18px;
    font-weight: 700;
}

footer {
    margin: 100px;
    color: #4834d4;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.personal-information div{
    padding-bottom: 10px;
}

.fab {
    display: inline-block;
    font-size: 35px;
    margin-right: 50px;
}

.copyright {
    color: grey;
    text-align: center;
}

