* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header .right-header {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

header .left-header a {
    padding: 0 30px;
}

.current-page {
    color: #4834d4;
}

.main-square {
    position: relative;
    top: -11%;
    left: 50%;
    width: 900px;
    height: 750px;
    background-color: #fff6d1;
    z-index: -100;
}

.main {
    
    height: 900px;
}

.main-letter {
    position: relative;
    top: -60%;
    left: 20%;
    margin: 0;
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4834d4;
}

.main-letter h1 {
    margin: 0;
}

.main-letter .detail {
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: solid #4834d4 2px;
}

.detail {
    font-family: 'Archivo Black', sans-serif;
}

.skills h3 {
    font-family: 'Archivo Black', sans-serif;
}